body {
    background-color: #f5e0f0;
}


#beginning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}



#title {
    font-size: 50px;
    font-family: 'Jaldi', sans-serif;
    color: #422b1e
}

#blurb{
    width: fit-content;
    background-color: rgb(236, 170, 236);
}

.abtme{
    margin-top: 30px;
    padding: 40px 20px 40px 20px;
    width: 40%;
    background-color: #eccf91;
    border: 3px cadetblue solid;
}

.skillsHobbies{
    margin-top: 30px;
    padding: 40px 20px 40px 20px;
    width: 40%;
    background-color: #eccf91;
    border: 3px cadetblue solid;
}

.introductions{
    display:flex;
    justify-content: space-evenly;
    align-self: flex-end;
}
.contacts {
    margin-top: 100px;
    text-align: center;
}

@media(max-width: 480px) {
    .introductions{
        flex-direction: column;
        align-items: center;
    }
    .introText{
        font-size: 15px;
    }

}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
    text-align: center;
    background-color: #575450;
}